@page "/assets/{AssetId}"

@inject OjedaClient _ojeda
@inject NavigationManager _navManager
@inject IToastService _toastService

<div class="d-flex justify-content-between mt-2 mb-3">
    <div class="d-flex align-items-center">
        <h3 class="m-0">Asset</h3>
    </div>
    <div class="d-flex">
        <OjedaButton
            Text="Delete"
            Style="@ButtonStyle.Danger"
            OnClick="OnDelete"
            IsLoading="_isLoading"
            IsDisabled="_isLoading"/>
    </div>
</div>

<TabControl>
  <TabPage Text="Fields">
    <EditAssetPage AssetId="@AssetId"/>
  </TabPage>
</TabControl>

@code {

    private bool _isLoading;

    [Parameter]
    public string AssetId { get; set; }

    private async Task OnDelete()
    {
        _isLoading = true;

        var result = await _ojeda.AssetsService.DeleteAsync(AssetId);

        if (result.Success)
        {
            _navManager.NavigateTo("/assets");
        }
        else
        {
            _toastService.ShowError($"Could not delete asset. {result.Error?.Message} ({result.Error?.Code}).");
        }

        _isLoading = false;
    }

}