@page "/assets/{AssetId}"

@inject OjedaClient _ojeda
@inject NavigationManager _navManager
@inject IToastService _toastService

<div class="d-flex justify-content-between mt-2 mb-3">
    <div class="d-flex align-items-center">
        <h3 class="m-0">Asset</h3>
    </div>
    <div class="d-flex">
        <OjedaButton
            Text="Delete"
            Style="@ButtonStyle.Danger"
            OnClick="OnDelete"/>
    </div>
</div>

<TabControl>
    <TabPage Text="Fields">
        <EditAssetPage AssetId="@AssetId"/>
    </TabPage>
</TabControl>

@code {

    [CascadingParameter]
    public IModalService Modal { get; set; }

    [Parameter]
    public string AssetId { get; set; }

    private async Task OnDelete()
    {
        var parameters = new ModalParameters();
        parameters.Add("Id", AssetId);

        var deleteAssetModal = Modal.Show<DeleteAssetModal>("Delete Asset", parameters, Constants.DefaultModalOptions);
        var result = await deleteAssetModal.Result;

        if (!result.Cancelled)
        {
            _navManager.NavigateTo("/assets");
        }
    }

}