.image {
    width: 150px;
    height: 150px;
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.image i {
    font-size: 90px !important;
    color: #ced4da !important;
}

.tag {
    font-size: 1.25rem;
}

.asset-type {
    color: #6c757d !important;
    font-size: 1.1rem;
}

.last-updated {
    color: #6c757d !important;
    font-size: .85rem;
}

.dropdown-toggle::after {
    content: none !important;
}
