@inject ITimeKeeper _timeKeeper

<div class="card" @onclick="@(() => OnSelected.InvokeAsync())" style="width: 100%;">

    <!-- Default -->
    <div class="d-flex align-items-center justify-content-center card-img-top bg-light" style="width: 100%; height: 120px;">
        <img src="/img/box.svg" alt="asset" width="75" height="75"/>
    </div>

    <!-- Body -->
    <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 0.3rem;">@Asset.Name.Truncate(28)</h5>
        <p class="card-text text-muted" style="margin-bottom: 0.75rem;">@Asset.AssetType.Name</p>
        <small class="text-muted" style="font-size: .75rem;">Last updated: @Asset.UpdatedAt.ToRelativeTime(_timeKeeper)</small>
    </div>

</div>

@code {

    [Parameter]
    public AssetSummaryDto Asset { get; set; }

    [Parameter]
    public EventCallback OnSelected { get; set; }

}