.image {
    width: 150px;
    height: 150px;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}

.image i {
    font-size: 90px !important;
    color: #ced4da !important;
}

.asset-id {
    font-size: 1.10rem;
}

.asset-type {
    color: #6c757d !important;
    font-size: 1.1rem;
}

.last-updated {
    color: #6c757d !important;
    font-size: .85rem;
}

.dropdown-toggle::after {
    content: none !important;
}

.edit-name {
    cursor: pointer;
    font-size: 1.3rem;
    color: #52525225;
    transition: .5s;
}

.edit-name:hover {
    color: #525252;
}

.edit-asset-id {
    cursor: pointer;
    font-size: 1.1rem;
    color: #52525225;
    transition: .5s; 
}

.edit-asset-id:hover {
    color: #525252;
}
