@if (!string.IsNullOrEmpty(Title))
{
    <div class="text-uppercase text-muted mb-2 px-3">@Title</div>
}

<ul class="nav flex-column mb-auto">
    @ChildContent
</ul>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}