<div id="sidebar" class="bg-light py-3" style="width: 240px; border-right: 1px solid #dee2e6;">
    @ChildContent
</div>

@code {
    [Parameter] 
    public RenderFragment ChildContent { get; set; }
}