@page "/admin/asset-classes/edit/{AssetClassId}"
@using NomaNova.Ojeda.Models.Dtos.FieldSets
@layout AdminLayout

@inject NavigationManager NavManager
@inject IToastService ToastService
@inject OjedaClient Ojeda

<OjedaBreadcrumb Data="@_breadcrumbItems" />

<h3>Edit Asset Class</h3>

@if (_isLoading)
{
    <p>Loading...</p>   
}
else
{
    <AssetClassForm AssetClass="@_assetClass" OnSubmit="@OnEdit"></AssetClassForm>    
}

@code {
    
    private readonly ICollection<BreadcrumbItem> _breadcrumbItems = new List<BreadcrumbItem>
    {
        new () {Text = "Admin", Url = "/admin"},
        new () {Text = "Asset Classes", Url = "/admin/asset-classes"},
        new () {Text = "Edit"}
    };
    
    private bool _isLoading;
    private readonly AssetClassDto _assetClass = new();
    
    [Parameter]
    public string AssetClassId { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var result = await Ojeda.AssetClassesService.GetByIdAsync(AssetClassId);

        if (result.Success)
        {
            var assetClassDto = result.Data;
            
            _assetClass.Id = assetClassDto.Id;
            _assetClass.Name = assetClassDto.Name;
            _assetClass.Description = assetClassDto.Description;
            
            _assetClass.FieldSets.Clear();
            _assetClass.FieldSets.AddRange(assetClassDto.FieldSets.Select(_ => new AssetClassFieldSetDto
            {
                Order = _.Order,
                FieldSet = new FieldSetSummaryDto
                {
                    Id = _.FieldSet.Id,
                    Name = _.FieldSet.Name,
                    Description = _.FieldSet.Description
                }
            }));
        }
        else
        {
            ToastService.ShowError($"Could not load asset class. {result.Error?.Message} ({result.Error?.Code}).");
            NavManager.NavigateTo("/admin/asset-classes");
        }

        _isLoading = false;
    }
    
    private async Task<OjedaDataResult<AssetClassDto>> OnEdit(AssetClassDto assetClass)
    {
        return await Ojeda.AssetClassesService.UpdateAsync(assetClass.Id, assetClass);
    }
}