<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <button class="nav-link @(_tab == AssetTab.Fields ? "active" : "")" @onclick="@(() => OnClick(AssetTab.Fields))">Fields</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(_tab == AssetTab.Notes ? "active" : "")" @onclick="@(() => OnClick(AssetTab.Notes))">Notes</button>
    </li>
</ul>

@code {

    private AssetTab _tab;

    [Parameter]
    public EventCallback<AssetTab> OnTabChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _tab = AssetTab.Fields;
        await OnTabChanged.InvokeAsync(_tab);
    }

    private async Task OnClick(AssetTab tab)
    {
        _tab = tab;
        await OnTabChanged.InvokeAsync(_tab);
    }

}