@page "/admin/fieldsets/add"
@layout AdminLayout

@inject OjedaClient Ojeda

@{
    var paths = new Dictionary<string, string>()
    {
        {"Admin", "/admin"},
        {"Field Sets", "/admin/fieldsets"},
        {"Add", null}
    };
}
<Breadcrumb Paths="@paths" />

<div class="d-flex justify-content-between w-50">
    <h3>Add Field Set</h3>
</div>

<FieldSetForm OnSubmit="@OnSubmitNewFieldSet"></FieldSetForm>

@code {
    
    private async Task<OjedaDataResult<FieldSetDto>> OnSubmitNewFieldSet(FieldSetDto fieldSet)
    {
        return await Ojeda.FieldSetsService.CreateAsync(fieldSet);
    }

}