@page "/admin/field-sets/add"
@layout AdminLayout

@inject OjedaClient Ojeda

<OjedaBreadcrumb Data="@_breadcrumbItems" />

<h3>Add Field Set</h3>

<FieldSetForm OnSubmit="@OnAdd"></FieldSetForm>

@code {
    
    private readonly ICollection<BreadcrumbItem> _breadcrumbItems = new List<BreadcrumbItem>
    {
        new () {Text = "Admin", Url = "/admin"},
        new () {Text = "Field Sets", Url = "/admin/field-sets"},
        new () {Text = "Add"}
    };
    
    private async Task<OjedaDataResult<FieldSetDto>> OnAdd(FieldSetDto fieldSet)
    {
        return await Ojeda.FieldSetsService.CreateAsync(fieldSet);
    }

}
