@page "/admin/fieldsets/add"
@layout AdminLayout

@{
    var paths = new Dictionary<string, string>()
    {
        {"Admin", "/admin"},
        {"Field Sets", "/admin/fieldsets"},
        {"Add", null}
    };
}
<Breadcrumb Paths="@paths" />

<div class="d-flex justify-content-between w-50">
    <h3>Add Field Set</h3>
</div>

<!-- TODO -->

<button @onclick="@AddField" class="btn btn-primary">Add Field</button>

@code {
    
    [CascadingParameter] 
    public IModalService Modal { get; set; }

    private async Task AddField()
    {
        var options = new ModalOptions
        { 
            Animation = ModalAnimation.FadeInOut(0.15)
        };
        
        var selectFieldModal = Modal.Show<AddFieldModal>("Add Field", options);
        var result = await selectFieldModal.Result;

        if (!result.Cancelled)
        {
            // TODO
            Console.WriteLine(result.Data);
        }
    }

}