@page "/admin/fields/add"

@using NomaNova.Ojeda.Client.Results
@layout AdminLayout

@inject NavigationManager NavManager
@inject OjedaClient Ojeda

@{
    var paths = new Dictionary<string, string>()
    {
        {"Admin", "/admin"},
        {"Fields", "/admin/fields"},
        {"Add", null}
    };
}
<Breadcrumb Paths="@paths" />

<div class="d-flex justify-content-between w-50">
    <h3>Add Field</h3>
</div>

<FieldForm OnSubmit="OnSubmitNewField"></FieldForm>

@code {
    
    private async Task<OjedaDataResult<FieldDto>> OnSubmitNewField(FieldDto field)
    {
        return await Ojeda.FieldsService.CreateAsync(field);
    }
}