@page "/admin/fields/edit/{FieldId}"
@layout AdminLayout

@inject NavigationManager NavManager
@inject IToastService ToastService
@inject OjedaClient Ojeda

@{
    var paths = new Dictionary<string, string>()
    {
        {"Admin", "/admin"},
        {"Fields", "/admin/fields"},
        {"Edit", null}
    };
}
<Breadcrumb Paths="@paths" />

<h3>Edit Field</h3>

@if (_isLoading)
{
    <p>Loading...</p>   
}
else
{
    <FieldForm Field="_field" OnSubmit="OnEdit"></FieldForm>    
}

@code {
    
    private bool _isLoading;
    private readonly FieldDto _field = new();
    
    [Parameter]
    public string FieldId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        var result = await Ojeda.FieldsService.GetByIdAsync(FieldId);

        if (result.Success)
        {
            var fieldDto = result.Data;

            _field.Id = fieldDto.Id;
            _field.Name = fieldDto.Name;
            _field.Description = fieldDto.Description;
            _field.Type = fieldDto.Type;
        }
        else
        {
            ToastService.ShowError($"Could not load field. {result.Error?.Message} ({result.Error?.Code}).");
            NavManager.NavigateTo("/admin/fields");
        }

        _isLoading = false;
    }

    private async Task<OjedaDataResult<FieldDto>> OnEdit(FieldDto field)
    {
        return await Ojeda.FieldsService.UpdateAsync(field.Id, field);
    }
}