<header id="header" class="d-flex align-items-center justify-content-between bg-light border-bottom" style="height: 60px;">
    <a href="/" class="mx-3 text-dark text-decoration-none">
        <img src="logo.svg" height="30px" alt="ojeda logo" />
    </a>
    <div class="d-flex align-items-center mx-3">
        @ChildContent
    </div>
</header>

@code {
    [Parameter] 
    public RenderFragment ChildContent { get; set; }
}