@inherits LayoutComponentBase

<Toasts />

<div>
    
    <!-- header -->
    <Header>
        <ul class="list-unstyled m-0">
            <li>
                <a href="/admin" class="text-dark text-decoration-none">
                    <i class="fs-6 bi-gear"></i>
                </a>
            </li>
        </ul>
    </Header>

    <!-- content -->
    <div id="page" class="d-flex" style="height: calc(100vh - 60px);">
        
        <!-- sidebar -->
        <Sidebar>
            <div>
                <ul class="m-0 mt-1">
                    <li><a href="/assets">Assets</a></li>
                </ul>
            </div>
        </Sidebar>

        <!-- page -->
        <Page>@Body</Page>
        
    </div>

</div>