<div class="page">
    <div class="page-body">
        @ChildContent
    </div>
    <div class="page-footer bg-light">
        <div class="page-footer-text text-muted">
            NomaNova &bull; Ojeda &bull; v1.0.0 &bull; build 1 &bull; 1 Jan 2021
        </div>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}