@if (IsLoading)
{
    <div class="@CssClass">
        <p class="text-muted fst-italic">Loading...</p>
    </div>
}
else
{
    @ChildContent
}

@code {

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string CssClass { get; set; }

}