@inherits LayoutComponentBase

<Toasts/>

<div>

    <!-- header -->
    <Header></Header>

    <!-- content -->
    <div id="content" class="d-flex" style="height: calc(100vh - 60px);">

        <!-- sidebar -->
        <Sidebar>

            <SidebarSection Title="Assets">

                <SidebarButton
                    Title="Asset Types"
                    Link="/admin/asset-types" />

                <SidebarButton
                    Title="Field Sets"
                    Link="/admin/field-sets"/>

                <SidebarButton
                    Title="Fields"
                    Link="/admin/fields"/>

                <SidebarButton
                    Title="Asset Id Types"
                    Link="/admin/asset-id-types"/>

            </SidebarSection>

        </Sidebar>

        <!-- page -->
        <Page>@Body</Page>

    </div>

</div>